rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    // Plombiers : chaque plombier peut écrire dans son dossier (documents CNI + selfie)
    match /plombiers/{userId}/{allPaths=**} {
      allow read, write: if request.auth != null && request.auth.uid == userId;
    }
  }
}
